body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

#login {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  border-color: black;
  background-color: #C2D164;
  padding: 10px;
  margin-top: 20vh; }
  #login h2 {
    margin-bottom: 10px;
    margin-top: 10px; }

#ta-total {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  border-color: white;
  background-color: black;
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px; }
  #ta-total div.ta-total-header {
    display: flex; }
    #ta-total div.ta-total-header div {
      min-width: 30%; }
    #ta-total div.ta-total-header div.ta-total-values {
      margin-left: 10px; }

.item {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  border-color: black;
  background-color: #C2D164;
  padding: 5px;
  margin-bottom: 5px; }

.propertyRow {
  padding: 5px; }

.items {
  width: 90%;
  min-width: 90%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  border-color: black;
  background-color: #C2D164;
  padding: 10px; }

.oneItem {
  width: 20%;
  min-width: 20px;
  background-color: red;
  border-radius: 2px;
  margin: 2px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #faa;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  /*Half the value of width to center div*/
  margin-top: -250px;
  /*Half the value of height to center div*/
  z-index: -1;
  visibility: hidden; }
  #modal[data-pop="slide-down"] {
    top: -50%;
    transition: all .5s ease-in-out; }
    #modal[data-pop="slide-down"].show {
      visibility: visible;
      z-index: 200;
      opacity: 1;
      top: 50%; }

#popupclose {
  float: right;
  padding: 10px;
  cursor: pointer; }

.popupcontent {
  padding: 10px; }
