body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

#login {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  border-color: black;
  background-color: #C2D164;
  padding: 10px;
  margin-top: 20vh; }
  #login h2 {
    margin-bottom: 10px;
    margin-top: 10px; }

#ta-total {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  border-color: white;
  background-color: black;
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px; }
  #ta-total div.ta-total-header {
    display: flex; }
    #ta-total div.ta-total-header div {
      min-width: 30%; }
    #ta-total div.ta-total-header div.ta-total-values {
      margin-left: 10px; }

.item {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  border-color: black;
  background-color: #C2D164;
  padding: 5px;
  margin-bottom: 5px; }

.propertyRow {
  padding: 5px; }

.items {
  width: 90%;
  min-width: 90%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  border-color: black;
  background-color: #C2D164;
  padding: 10px; }

.oneItem {
  width: 20%;
  min-width: 20px;
  background-color: red;
  border-radius: 2px;
  margin: 2px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  /*Half the value of width to center div*/
  margin-top: -250px;
  /*Half the value of height to center div*/
  z-index: -1;
  visibility: hidden; }
  #modal[data-pop="slide-down"] {
    top: -50%;
    transition: all .5s ease-in-out; }
    #modal[data-pop="slide-down"].show {
      visibility: visible;
      z-index: 200;
      opacity: 1;
      top: 50%; }
  #modal .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  #modal .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5; }
  #modal .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5; }
  #modal button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0; }
  #modal .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2; }
  #modal .modal-body {
    position: relative;
    padding: 15px; }
  #modal .modal-title {
    margin: 0;
    line-height: 1.42857143; }
  #modal .h4, #modal h4 {
    font-size: 18px; }

#overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  z-index: -1;
  visibility: hidden;
  transition: all 1s ease; }
  #overlay.show {
    opacity: 0.75;
    visibility: visible;
    z-index: 100; }
